div{
    background-color: rgb(179, 116, 22);
    min-height: 50px;
    height: auto;
}

#headH1{
height: 50px;
color:rgb(70, 43, 2);
background-color: #1B8C4C;
height: auto;
}

#fecha{
    color:rgb(53, 32, 0);
}
 p{
    min-height: 30px;
    height: auto;
    color:rgb(255, 255, 255);
    background-color: #1B8C4C;
    border-radius: 5px;}

label
{
    color:blanchedalmond;
}

#texto{
    padding-top: 10px;
}